<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <p>
      {{ site.description }}
    </p>
    <a href="https://twitter.com/triadjug" class="twitter">Twitter<span></span></a>
    <a href="https://www.linkedin.com/groups/8559275" class="linkedin">Linkedin<span></span></a>
    <a href="https://www.facebook.com/triadjug" class="facebook">Facebook<span></span></a>
    <a href="https://twitter.com/triadjug" class="twitter">Twitter<span></span></a>
    <a href="/slack">&nbsp;<img src="/images/slackicon2.png" /></a>
  </div>

</footer>
