---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if organiser.photo %}
        <h3 class="post-organisers-name">By {{organiser.name}}</h3>
    {% endif %}
    <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
    <h3 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h3>
    {% if page.registration and page.post_type == "meetup"  %}
    <div>
            <a href='{{ page.registration }}' data-event="{{ page.event_id }}" class="mu-rsvp-btn">RSVP</a>
        </div>
    {% endif %}
  </header>

  {% if organiser.photo %}
    <div class="author" style="background-image:url({{organiser.photo}});"></div>
  {% endif %}

    <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% if page.registration and page.post_type == "meetup"  %}
        <div>
            <a href='{{ page.registration }}' class="button button-primary">RSVP</a>
        </div>
    {% elsif page.registration %}
        <div>
            <a href='{{ page.registration }}' class="button button-primary">Register</a>
        </div>
    {% elsif organiser.email %}
        <div>
            <a href='mailto:{{organiser.email}}?subject=Register interest for {{page.title}} on {{ page.date | date: "%B %-d, %Y" }}&body=Hi! Im interested in your event.' class="button button-primary">Register Interest</a>
        </div>
    {% endif %}

</article>
{% if page.post_type == "meetup" %}
{% include meetup-script.html %}
{% endif %}

